body{
	font-family: Tahoma;
	font-size: 13px;
	background: url(.../image/background.png);
	margin: 0px;
	padding: 0px;

}
ul{
	margin: 0px;
	padding: 0px;
}
ul li{
list-style: none;
}
#header #header_top{
	height: 40px;
	background-color: #1c4755;

}
#header #header_top .margin1{
margin-left: 150px;
width: 150px;
}
#header #header_top .margin1 .menu ul li{
float: left;
margin-top: 10px;
}
#header #header_top .margin1 .menu ul li a{
	float: left;
	text-decoration: none;
	color: #c3effc;
	display: block;	
	background: url(image/line.png) no-repeat right;
	padding: 0px 10px 0px 10px;

}
#header #header_top .margin2{
	margin-left: 453px;
	width: 300px;

}
#header #header_top .margin2 .menu ul li{
float: left;

}
#header #header_top .margin2 .menu ul li a{
	float: left;
	text-decoration: none;
	color: #c3effc;
	margin-top: 10px;
	display: block;	
	background: url(image/line.png) no-repeat right;
	line-height: 10px;
	padding: 0px 10px 0px 10px;

}

#header #header_top .margin3{
	margin-left: 178px;
	
}
#header #header_top .margin3 .search{
	position: none;
}
#header #header_top .margin3 form input{
	background-color:#1c4755;
}
#header #header_top .margin3 form button{
	background: url(image/icon_search.png) no-repeat ;
	height: 30px;
	width: 30px;
	border: none;
}
}
#header #header_top .margin4{
	float: left;
	display: block;
}
#header #header_center{
	height: 168px;
	background: #710a09;
}
#header #header_center #center{
	padding: 50px 500px 0px 500px;
}
#header #lline_red{
	background: url(image/line_red.png);
	width: 100%;
}
#header #header_bottom{
	height: 43px;
	background: #710a09;
}
#header #header_bottom .menu{
	margin-left: 315px;
}
#header #header_bottom .menu ul li{
float: left;
}
#header #header_bottom .menu ul li a{
	float: left;
	text-decoration: none;
	color: #c3effc;
	margin-top: 10px;
	display: block;	
	line-height: 10px;
	padding: 0px 15px 0px 15px;

}
#content #banner img{
	height: 414px;
	width: 100%;
}
#content #content_main{
 padding-left: 50px;
padding-top: 31px;
}

#content #content_main ul li{
	width: 271px;
	float: left;
	display: block;
	padding: 0px 15px 0px 15px;
}
#content #content_main ul li img{
	width: 271px;
	height: 158px;
	float: left;
	display: block;
	padding: 0px 15px 0px 15px;
}
#content #content_main ul li a{
	width: 271px;
	float: left;
	display: block;
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	size: 20px;
}
#content #content_content{
 padding-left: 50px;
padding-top: 31px;
float: left;
}
#content #content_content #content_content_left{
	margin:0px;
	padding: 0px;
	float: left;
	display: block;
	width: 280px;
}
#content #content_content #content_content_left #DSLich{
	margin:0px;
	padding: 0px;
}
#content #content_content #content_content_left .lich .event-lich .event-date{
	border: 1px solid black;	
}
#content #content_content #content_content_left .lich .event-lich{

	float: left;
}
#content #content_content #content_content_left .lich{
	padding-bottom: 20px;
	float: left;
	margin:0px;
	padding:0px;

}
#content #content_content #content_content_left .lich .right{
	float: right;
	display: block;
	padding-left: 10px;
}
#content #content_content_right{
	float: right;
	height: 348px;
	margin:0px;
	padding:0px;
}
#content #content_content_right ul li{
	float: left;
	text-decoration: none;
	color: #c3effc;
	margin-top: 10px;
	display: block;	
	line-height: 10px;
	padding: 0px 10px 0px 10px;
}
#content #content_content_right ul li img{
	height: 130px;
	width: 268px;
	

}
#content #content_content_right ul li .bg{
	position: relative;position: absolute;
	padding:0px 0px 0px 00px;
	margin:80px 80px 20px 20px ;
	

}
#content #content_content_right ul li .bg p{
	position: relative;
	 text-align: center;
	font-size: 15px;


}
#content #content_content2 ul li{
	float: left;
	display: block;
	padding: 0px 60px 0px 60px;
}
#content #content_content2 ul li .bg p{
	position: relative;
	 text-align: center;
	
	color: white;
}
#content #content_foot ul li{
	float: left;
	display: block;
	padding: 0px 30px 0px 30px;
}
#content #content_foot ul li .bg p{
	position: relative;
	 text-align: center;
	 width: 269px;
}
#content #slide{
	background: #f1f1f1;
	height: 178px;
	padding: 30px 30px 30px 30px;
}
#content #slide #slide_slide ul li{
	float: left;
	display: block;
	padding: 0px 30px 0px 30px;
}	
#content #slide2{
	height: 178px;
	padding: 30px 30px 30px 30px;
}
#content #slide2 #slide_slide2 ul li{
	float: left;
	display: block;
	padding: 0px 30px 0px 30px;
}
#footer #footer_head {
	height: 300px;
	background: #242424;
	float: left;
	width: 100%;
}
#footer #footer_head #fh{
	float: left;
	padding: 0px 80px 0px 80px;
}
#footer #footer_head #fh ul li{
	float: left;
	padding: 0px 80px 0px 80px;
	color: white;
}
#footer #footer_head #fh ul li ul li{
	float: left;
}
#footer #footer_footer #ff ul li #fff #ffff ul li{
	float: left;
	padding: 0px 10px 0px 10px;
	color: white;
}